.portfolio-menu{
	text-align:center;

    & ul li{
        display:inline-block;
        margin:0;
        list-style:none;
        padding:1rem;
        cursor:pointer;
        transition:all .5s ease;

    }
}
.portfolio-item {

    & .item{
	/*width:303px;*/
	float:left;
	margin-bottom:10px;
    }
}
